{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SetiaMDN-Status</title>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    <style>
        .other1{
            width: 850px;
        }
        .other2{
            width: 150px;
            text-align: right;
        }
    </style>
    <body>
        </br></br>
        <p style="text-align:center; font-size: 24px; font-weight: 500;">Halo, apa kabar?</p>
        <form action="" method="POST">
            {% csrf_token %}
            <table align="center" style="color: white; font-size:24px">
                {{ form.as_table }}
            </br>
            </table>
            <p style="text-align: center"><button type="submit" id="submit">&emsp;Submit&emsp;</button></p>
        </form>
        </br></br></br>
        <p style="text-align:center; font-size: 24px; font-weight: 500;">Status lo:</p>
        <div class="forms">
            <table bgcolor="white" align="center" style="margin-top: 40px; margin-bottom: 40px; font-size: 24px;">
                {% for form in forms %}
                <div class="form">
                    <tr>
                        <th>{{ form.date }}</th>
                    </tr>
                    <tr>
                        <td class="other1">{{ form.status }}</td>
                        <td class="other2"><a href="/statRemove/{{form.id}}" style="text-decoration:none; color:red">Remove</a></td>
                    </tr>
                    <tr>
                        <td></br></td>
                    </tr>
                </div>
                {% endfor %}
            </table>
        </div>
    </body>
</html>